.vscode/

#Frontend
/Frontend/admin-library-frontend/node_modules
/Frontend/user-library-frontend/node_modules
/Frontend/.env

#Backend
/Backend/node_modules
/Backend/.env
/Backend/assets/
/Backend/data/
